*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#fff;
    transition:0.5s;
}

body.dark{
    background:#000;
}

.toggle-btn{
    width:90px;
    height:45px;
    background:#fff;
    border:2px solid #000;
    border-radius:50px;
    position:relative;
    cursor:pointer;
}

.toggle-btn::before{
    content:'';
    position:absolute;
    width:35px;
    height:35px;
    background:#000;
    border-radius:50%;
    top:3px;
    left:3px;
    transition:0.5s;
}

body.dark .toggle-btn{
    background:#000;
    border:2px solid #fff;
}

body.dark .toggle-btn::before{
    background:#fff;
    left:48px;
}