*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:monospace;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#f6ff00,#a0e9ff);
}

.container{
    background:#ffffffcc;
    padding:30px;
    width:400px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

h1{
    color:#008b8b;
    margin-bottom:20px;
}

label{
    font-size:18px;
    color:#008b8b;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

p{
    margin-top:10px;
    color:#666;
}

#result{
    margin-top:10px;
    font-size:24px;
    color:#008b8b;
    font-weight:bold;
}